<table>
    <caption>Semesterapparat</caption>
    <tr>
        <td>Semesterapparats-ID:</td>
        <td>$collection.Id</td>
    </tr>
    <tr>
        <td>Nummer:</td>
        <td>$collection.Number.Number</td>
    </tr>
    <tr>
        <td>Standort:</td>
        <td>$collection.LibraryLocation.Name</td>
    </tr>
    #if($collectionLink)
    <tr>
        <td>Semesterapparat:</td>
        <td><a href="$collectionLink">$collectionLink</a></td>
    </tr>
    #end
    <tr>
        <td>Titel:</td>
        <td>$collection.Title</td>
    </tr>
    #if($authors)
    <tr>
        <td>Autor(Innen):</td>
        <td>$authors</td>
    </tr>
    #end
    #if($origin)
    <tr>
        <td>Fakult&auml;t:</td>
        <td>$origin</td>
    </tr>
    #end
</table>