<div class="alert alert-info">
    <strong>Ihr neuer Semesterapparat ist jetzt eingerichtet</strong>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <span class="h4" style="display: inline-block;">Hinweis zum Urheberrecht</span>
    </div>
    <div class="panel-body">

        <p>Sie k&ouml;nnen den Online-Teil sofort benutzen.</p>

        <p><strong>&sect; 52a: &Ouml;ffentliche Zug&auml;nglichmachung f&uuml;r Unterricht und Forschung</strong></p>

        <div>
            <p>
                Unter den <a href="http://www.gesetze-im-internet.de/urhg/__52a.html">&sect; 52a &quot;&Ouml;ffentliche
                Zug&auml;nglichmachung f&uuml;r Unterricht und Forschung&quot;</a> des geltenden deutschen
                Urheberrechtes f&auml;llt auch die Bereitstellung von Texten in einem Online-Semesterapparat.
                Dort werden in Absatz 1 u. a. genannt:</p>
            <ul>
                <li>
                    <strong>&quot;kleine Teile eines Werkes&quot;</strong>, das bedeutet <strong>nicht mehr als maximal
                    12%</strong> des Gesamtumfangs. Die Universit&auml;tsbibliothek <strong>darf daher nicht gro&szlig;e
                    Teile eines Buches digitalisieren</strong>, sofern nicht andere Vereinbarungen mit dem Rechteinhaber
                    existieren oder das Werk nicht mehr urheberrechtlich gesch&uuml;tzt ist.
                </li>
                <li>
                    <strong>&quot;einzelne Beitr&auml;ge aus Zeitungen oder Zeitschriften&quot;</strong>, z. B. einen
                    Aufsatz aus einer Fachzeitschrift.
                </li>
                <li>
                    der Bestimmungszweck <strong>&quot;zur Veranschaulichung im Unterricht an ... Hochschulen ..
                    ausschlie&szlig;lich f&uuml;r den bestimmt abgegrenzten Kreis von
                    Unterrichtsteilnehmern&quot;</strong>. Online-Semesterapparate
                    sind in DuEPublico daher grunds&auml;tzlich durch ein Passwort gesch&uuml;tzt, so dass nur die
                    Studierenden Ihrer Lehrveranstaltung Zugang zu den Texten haben.
                </li>
                <li>
                    &quot;F&uuml;r die &ouml;ffentliche Zug&auml;nglichmachung nach Absatz 1 ist eine angemessene Verg&uuml;tung
                    zu zahlen.&quot; Diese <strong>Verg&uuml;tung ist bereits durch Pauschalzahlungen abgedeckt</strong>,
                    f&uuml;r Sie als Dozent/Dozentin ist die Zug&auml;nglichmachung solcher Texte im Semesterapparat
                    kostenfrei.
                </li>
            </ul>
            <p>
                Die Bibliotheksverb&auml;nde, die Arbeitsgemeinschaft wissenschaftlicher Verleger und der B&ouml;rsenverein
                des deutschen Buchhandels haben in einer <a
                    href="http://www.urheberrecht.org/topic/Info-RiLi/st/52a/Charta-52a.pdf">
                Gemeinsamen Charta zum Verst&auml;ndnis von &sect; 52a</a> die praktische Auslegung dieser Regelung
                weiter pr&auml;zisiert.
            </p>

            <p>
                &nbsp;</p>

            <p>Nat&uuml;rlich k&ouml;nnen Sie diesen Texteintrag wieder aus Ihrem Semesterapparat l&ouml;schen.</p>
        </div>
    </div>
</div>
