<div class="alert alert-info">
    <strong>Ihr neuer Semesterapparat ist jetzt eingerichtet</strong>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <span class="h4" style="display: inline-block;">Hinweis zum Urheberrecht</span>
    </div>
    <div class="panel-body">

        <p>Sie k&ouml;nnen den Online-Teil sofort benutzen.</p>

        <p><strong>&sect; 60a Unterricht und Lehre</strong></p>

        <div>
            <p>
                Unter den § 60a "Unterricht und Lehre" des geltenden deutschen Urheberrechtes f&auml;llt auch die
                Bereitstellung von Texten in einem Online-Semesterapparat. Dort wird u. a. genannt:</p>
            <ul>
                <li>
                    Es d&uuml;rfen maximal <strong>15%</strong> eines Werkes zur Verf&uuml;gung gestellt werden. Die
                    Universit&auml;tsbibliothek darf daher nicht gro&szlig;e Teile eines Buches digitalisieren, sofern
                    nicht andere Vereinbarungen mit dem Rechteinhaber existieren oder das Werk nicht mehr
                    urheberrechtlich gesch&uuml;tzt ist. Vergriffene Werke d&uuml;rfen vollst&auml;ndig verwendet
                    werden.
                </li>
                <li>
                    Es d&uuml;rfen einzelne Beitr&auml;ge aus Zeitungen oder Fachzeitschriften verwendet werden,
                    allerdings keine vollst&auml;ndigen Artikel aus Tageszeitungen oder Publikumszeitschriften!
                </li>
                <li>
                    Es d&uuml;rfen Werke geringen Umfangs vollst&auml;ndig genutzt werden, s.a. <a
                        href="https://www.uni-due.de/ub/urheberrecht/60a_urhg.php">unsere Hinweise</a>.
                </li>
                <li>
                    Online-Semesterapparate sind weiterhin durch ein Passwort zu sch&uuml;tzen, so dass nur die
                    Studierenden Ihrer Lehrveranstaltung Zugang zu den Texten haben.
                </li>
            </ul>
            <p>
                Diese Verg&uuml;tung wird durch Pauschalzahlungen erfolgen, f&uuml;r Sie als Dozent/Dozentin ist die
                Zug&auml;nglichmachung solcher Texte im Semesterapparat kostenfrei.

            <p>
                &nbsp;</p>

            <p>Nat&uuml;rlich k&ouml;nnen Sie diesen Texteintrag wieder aus Ihrem Semesterapparat l&ouml;schen.</p>
        </div>
    </div>
</div>
