<table>
    <caption>Eintrag</caption>
    <tr>
        <td>Datum:</td>
        #if($DateFormatter)
            <td>$DateFormatter.format($entry.Created)</td>
        #else
            <td>$entry.Created</td>
        #end
    </tr>
    <tr>
        <td>Link Eintrag:</td>
        <td><a href="$entryLink">$entryLink</a></td>
    </tr>
</table>