<style>
    body {
        font-family: monospace;
    }

    table {
        margin: 1.5em 0;
        min-width: 25%;
    }

    caption {
        background-color: #004c93;
        color: #fff;
    }

    table th {
        padding: 8px;
        background-color: #d9edf7;
        border: 1px solid #bce8f1;
    }

    table td {
        padding: 8px;
    }

    td:first-child {
        text-align: right;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .alert-error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }
</style>