## variables
#set($collection = $article.Entry.ReserveCollection)
#set($entry = $article.Entry)

<html>
<head>
    <title></title>
    #include("mail.style.vm")
</head>
<body>
#parse("editor.vm")
#parse("collection.vm")
#parse("entry.vm")
#parse("journal.article.vm")
#parse("deleted.entry.vm")
</body>
</html>
