## variables
#set($collection = $chapter.Entry.ReserveCollection)
#set($entry = $chapter.Entry)

<html>
<head>
    <title></title>
    #include("mail.style.vm")
</head>
<body>
#parse("editor.vm")
#parse("collection.vm")
#parse("entry.vm")
#parse("book.chapter.vm")
#parse("deleted.entry.vm")
</body>
</html>
