#set($collection = $article.Entry.ReserveCollection)
#set($entry = $article.Entry)

Bearbeitet durch
----------------

Rolle:
#foreach($role in $roles)
- $role.Name
#end

Semesterapparat
---------------

Semesterapparats-ID: $collection.Id
Nummer: $collection.Number.Number
Standort: $collection.LibraryLocation.Name
#if($collectionLink)
Semesterapparat: $collectionLink
#end
Titel: $collection.Title
#if($authors)
Autor(Innen): $authors
#end
#if($origin)
Fakultät: $origin
#end

Eintrag
-------

#if($DateFormatter)
    #set($created = $DateFormatter.format($entry.Created))
#else
    #set($created = $entry.Created)
#end
Datum: $created
Link Eintrag: $entryLink

Zeitschriftenartikel
--------------------

Titel: $article.ArticleTitle
#if($article.Authors)
Autor(Innen): $article.Authors
#end
#if($article.Comment)
Kommentar: $article.Volume
#end
#if($article.JournalTitle)
Zeitschrift: $article.JournalTitle
#end
#if($article.placeOfPublication)
Erscheinungsort: $article.placeOfPublication
#end
#if($article.Publisher)
Verlag: $article.Publisher
#end
#if($article.Issn)
ISSN: $article.Issn
#end
#if($article.Signature)
Signatur: $article.Signature
#end
#if($article.Volume)
Jahr/Jahrgang: $article.Volume
#end
#if($article.Issue)
Ausgabe/Heft: $article.Issue
#end
Seiten: von $article.PageStart bis $article.PageEnd
#if($oldPageStart || $oldPageEnd)
Seiten (alt): von $oldPageStart bis $oldPageEnd
#end
#if($article.ReferenceNumber)
Referenznummer: $article.ReferenceNumber
#end
#if($article.Signature)
Signatur: $article.Signature

Link zum Katalog:
http://primo.ub.uni-due.de/primo_library/libweb/action/dlSearch.do?vid=UDE&institution=UDE&search_scope=default_scope&bulkSize=10&lang=ger&indx=1&onCampus=false&query=lsr11,contains,$article.Signature
#end


#if($entry.Deleted)
Der Status des Eintrags ist noch "Neueintrag". Falls Sie den Text gerade beschaffen, ist dies nicht mehr erforderlich, Sie können den Vorgang stornieren.
Auch die Überprüfung der bibliographischen Angaben ist nicht mehr erforderlich.
#else
Überprüfen Sie die bibligraphischen Angaben
Korrigieren Sie diese ggf. im Online Semesterapparat
Beschaffen Sie den Text als PDF-Dokument und stellen Sie ihn via Formular zum Online-Semesterapparat hinzu
#end