html,body {
    background-color: white;
    height: 100%;
    padding: 0;
}

body {
}

#home {
    padding: 24px 8px;
    font-size: 1.2em;
}

#home a {
    color: #03a9f4;
}

#home a:hover {
    color: #ff9100;
    background: transparent;
}

.admin-nav {
    background-color: #424242;
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}

.admin-nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.admin-nav li {
    line-height: 5em;
    padding: 0 16px;
}

.admin-nav li a {
    display: block;
    text-align: right;
}

.admin-nav li.current-page-item {
    box-shadow: -12px 0 12px -12px rgba(0, 0, 0, 0.4), /* left */
                12px 0 12px -12px rgba(0, 0, 0, 0.4); /* right */
    border-bottom: 2px solid rgb(3, 169, 244);
}

.admin-nav li a {
    color: #03a9f4;
    font-size: 1.2em;
}

.admin-nav li a:hover {
    color: #ff9100;
    background: transparent;
}

.bg-main {
    background-color: #fff;
}

.shadow-left {
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.4);
}

.shadow-right {
    box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.4);
}

.shadow-bottom {
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.4);
}

.shadow-top {
    box-shadow: 0 -8px 8px -8px rgba(0, 0, 0, 0.4);
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: #c8e6c9;
    border: 1px solid #81c784;
    border-radius: 4px;
}

.comment .meta {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.comment .comment-author {
    text-align: left;
    width: 50%;
}

.comment .comment-date {
    text-align: right;
    width: 50%;
}

.fab {
    width: 48px;
    height: 48px;
    background-color: #F44336;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #fff;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 24px;
    bottom: 24px;
}

.fab > * {
    font-size: 24px;
}

@media (min-width: 1200px) {
    .admin-nav {

        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        height: 100%;
    }
    .admin-nav ul {
        flex-direction: column;
    }


    .admin-nav li.current-page-item {
        box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.4), /* bottom */
                    0 -12px 12px -12px rgba(0, 0, 0, 0.4); /* top */
        border: 0;
        border-right: 2px solid rgb(3, 169, 244);
    }

    .right-content {
        padding-left: 20px;
    }
}
