@media print {

  body {
    font-size: 1em;
  }

  h2 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.05em;
  }

  nav[role="application-nav"] {
    display: none;
  }

  a[href]:after {
    content: normal;
  }

  #actionbar {
    display: none;
  }

  #banner h1,h2,h3,h4 {
    display: inline;
  }

  #banner-title {
    display: none;
  }

  #ude-logo {
    display: none;
  }

  #site-footer {
    display: none;
  }

  .breadcrumb {
    display: none;
  }

  .drop-shadow:before,
  .drop-shadow:after {
    content: normal;
  }

  .folder-tab dl,dt {
    margin-top: 0;
    margin-bottom: 0;
  }

  .paper {
    border: none;
  }

  .navbar-mobile-menu-toggle {
    display: none;
  }
}